@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 30, 32;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29, 30, 32;
    --background-end-rgb: 29, 30, 32;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 900px;
  margin: 0 auto;
  padding: 0 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
  color: #DADADB;
}

li {
  list-style: none;
}